Import common libraries

In [1]:
import numpy as np
import pandas as pd

Load title.basics data

In [2]:
title_basics = pd.read_csv('title.basics.tsv', delimiter='\t', encoding='utf-8')

print title_basics.head(10)

/Users/xinhezhang/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      tconst titleType                                 primaryTitle  \
0  tt0000001     short                                   Carmencita
1  tt0000002     short                       Le clown et ses chiens
2  tt0000003     short                               Pauvre Pierrot
3  tt0000004     short                                  Un bon bock
4  tt0000005     short                             Blacksmith Scene
5  tt0000006     short                            Chinese Opium Den
6  tt0000007     short  Corbett and Courtney Before the Kinetograph
7  tt0000008     short       Edison Kinetoscopic Record of a Sneeze
8  tt0000009     movie                                   Miss Jerry
9  tt0000010     short        Employees Leaving the Lumière Factory

                                 originalTitle  isAdult startYear endYear  \
0                                   Carmencita        0      1894      \N
1                       Le clown et ses chiens        0      1892      \N
2                               Pauvre Pierrot        0      1892      \N
3                                  Un bon bock        0      1892      \N
4                             Blacksmith Scene        0      1893      \N
5                            Chinese Opium Den        0      1894      \N
6  Corbett and Courtney Before the Kinetograph        0      1894      \N
7       Edison Kinetoscopic Record of a Sneeze        0      1894      \N
8                                   Miss Jerry        0      1894      \N
9          La sortie de l'usine Lumière à Lyon        0      1895      \N

  runtimeMinutes                    genres
0              1         Documentary,Short
1              5           Animation,Short
2              4  Animation,Comedy,Romance
3             \N           Animation,Short
4              1                     Short
5              1                     Short
6              1               Short,Sport
7              1         Documentary,Short
8             45                   Romance
9              1         Documentary,Short

Only keep movie related data

In [3]:
title_basics_movie = title_basics[title_basics['titleType'] == 'movie']

print title_basics_movie.head(10)

        tconst titleType                     primaryTitle  \
8    tt0000009     movie                       Miss Jerry
145  tt0000147     movie    The Corbett-Fitzsimmons Fight
332  tt0000335     movie            Soldiers of the Cross
499  tt0000502     movie                         Bohemios
571  tt0000574     movie      The Story of the Kelly Gang
611  tt0000615     movie               Robbery Under Arms
626  tt0000630     movie                           Hamlet
669  tt0000675     movie                      Don Quijote
670  tt0000676     movie  Don Álvaro o la fuerza del sino
673  tt0000679     movie   The Fairylogue and Radio-Plays

                       originalTitle  isAdult startYear endYear  \
8                         Miss Jerry        0      1894      \N
145    The Corbett-Fitzsimmons Fight        0      1897      \N
332            Soldiers of the Cross        0      1900      \N
499                         Bohemios        0      1905      \N
571      The Story of the Kelly Gang        0      1906      \N
611               Robbery Under Arms        0      1907      \N
626                           Amleto        0      1908      \N
669                      Don Quijote        0      1908      \N
670  Don Álvaro o la fuerza del sino        0      1908      \N
673   The Fairylogue and Radio-Plays        0      1908      \N

    runtimeMinutes                  genres
8               45                 Romance
145             20  Documentary,News,Sport
332             \N         Biography,Drama
499            100                      \N
571             70   Biography,Crime,Drama
611             \N                   Drama
626             \N                   Drama
669             \N                   Drama
670             \N                   Drama
673            120       Adventure,Fantasy

In [4]:
print "Number of movies:", title_basics_movie.shape[0]
print "Number of features:", title_basics_movie.shape[1]

Number of movies: 478145
Number of features: 9

Get moive uid(tconst)

In [5]:
uid = title_basics_movie['tconst']

print uid.head(10)

8      tt0000009
145    tt0000147
332    tt0000335
499    tt0000502
571    tt0000574
611    tt0000615
626    tt0000630
669    tt0000675
670    tt0000676
673    tt0000679
Name: tconst, dtype: object

Load title.rating data

In [6]:
title_ratings = pd.read_csv('title.ratings.tsv', delimiter='\t', encoding='utf-8')

print title_ratings.head(10)

      tconst  averageRating  numVotes
0  tt0000001            5.8      1350
1  tt0000002            6.5       157
2  tt0000003            6.6       934
3  tt0000004            6.4        93
4  tt0000005            6.2      1622
5  tt0000006            5.7        80
6  tt0000007            5.5       544
7  tt0000008            5.6      1441
8  tt0000009            5.4        62
9  tt0000010            6.9      4851

In [7]:
title_ratings_movie = title_ratings[title_ratings['tconst'].isin(uid.values)]

print title_ratings_movie.head(10)

        tconst  averageRating  numVotes
8    tt0000009            5.4        62
141  tt0000147            5.2       246
232  tt0000335            6.2        32
331  tt0000574            6.3       431
347  tt0000615            5.1        12
353  tt0000630            2.9         8
380  tt0000675            4.7         7
381  tt0000676            4.0         6
382  tt0000679            6.1        24
412  tt0000739            7.2         6

Top 10 highest rating movies with votes over 100000

In [8]:
rating10 = title_ratings_movie[title_ratings_movie['numVotes'] > 100000].sort_values(['averageRating'], ascending=[0]).head(10)
uid10 = rating10['tconst'].values

print rating10

           tconst  averageRating  numVotes
78311   tt0111161            9.3   1916499
42888   tt0068646            9.2   1309726
231825  tt0468569            9.0   1888525
45359   tt0071562            9.0    904100
78098   tt0110912            8.9   1497311
27252   tt0050083            8.9    528259
75788   tt0108052            8.9    986281
107892  tt0167260            8.9   1368095
35790   tt0060196            8.9    566810
465042  tt1375666            8.8   1676599

Top 10 highest rating movies with votes over 100000 (sorted)

In [26]:
#movie10 = title_basics_movie[title_basics_movie['tconst'].isin(uid10)]['primaryTitle']
movie10 = list()
for i in uid10:
    movie10.append(title_basics_movie[title_basics_movie['tconst'] == i]['primaryTitle'].values[0].encode('ascii','ignore'))
    
print movie10

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'The Godfather: Part II', 'Pulp Fiction', '12 Angry Men', "Schindler's List", 'The Lord of the Rings: The Return of the King', 'The Good, the Bad and the Ugly', 'Inception']